<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <title>CMS Home</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/cmshome/">CMS Admin Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ml-auto" href="/logout/">Logout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-cyan" id="addpagebtn">Add New Page</button>
        <button type="button" class="btn btn-cyan">Place holder</button>
        <button type="button" class="btn btn-cyan">Place holder</button>
      </div>

      <div class="col=lg col-md-12 mb-4" id="work-area"></div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function(){

          var textBox = $('<input class="form-control form-control-lg" type="text" placeholder="Page Name">');
          var createBtn = $('<button class="btn btn-primary">Create</button>');
          var cancelBtn = $('<button class="btn btn-danger">Cancel</button>');
          var addpageBtn = $('#addpagebtn');
          var workArea = $('#work-area');

          workArea.append(textBox);
          textBox.after(createBtn);
          createBtn.after(cancelBtn);

          workArea.children().hide();

          addpageBtn.click(function(){
            addpageBtn.attr('disabled', true);
            workArea.children().show();
            });

          cancelBtn.on("click", function(){
            addpageBtn.attr('disabled', false);
            workArea.children().hide();
          });
        });
      </script>
    </body>
</html>
